<h1>Login</h1>

<% if flash.now[:error_message] %>
   <div><%= flash.now[:error_message]%></div>
<%end%>
<%= form_tag do %>
    <%= label :username, "Username"%>
    <%= text_field_tag :username %>

    <%= label :password, "Password" %>
    <%= password_field_tag :password %>

    <%= submit_tag "Login" %>
<% end %>
<%= link_to "New? Register here", new_user_path %>