<h1 class="header">Welcome,<%=@user.name%>!</h1>

<div>
Username: <%= @user.username %>
<br>
Email: <%= @user.email %>
</div>
<br>

<div>
<%= link_to "Start a new care pacakge", new_package_path %>
<!-- needs to route to a NEW package, then reroute to items -->
<br>
<%= link_to "See All In-Stock Items", items_path%>
<br>
<%= mail_to "fakesupport@gmail.com", "Contact Support"%>
<br>
<!--<%= link_to "See old orders"%> -->
</div>

<div>
<%= button_to "Delete Account", @user, method: "delete", data: {confirm: "Are you sure? This cannot be reversed!"} %>

</div>