<!DOCTYPE html>
<html>
  <head>
    <title>CovidCarePackages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <nav>
      <div class="logo">
        <h4><%= link_to "Covid Care Packages", home_path%></h4>
        <%if logged_in? %>
          <h4><%= "Welcome, #{current_user.name}" %><h4>
          <% end %>
      </div>
        <ul class="nav-links">
          <li><%=link_to "Items", items_path %></li>
          <li><%=link_to "About Us", about_path %></li>
          <li><%=link_to "Get Started", new_user_path %></li>
          <li><%=link_to "Login", login_path %></li>
          <li><%=link_to "Logout", logout_path %></li>

        </ul>
    </nav>
    
    <%= yield %>
  
    <footer>
    Created by Kellie Hamilton and Ben Hessel
    </footer>
  </body>
</html>
